@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../tailwind/components.css';


html {
    font-family: var(--font-yekanbakh);
}

:lang(en) {
    font-family: var(--font-figtree);
}
.graident {
    @apply bg-gradient-to-r from-gradient-first to-gradient-second text-transparent bg-clip-text
}

.animated-icon {
    & > * {
        @apply transition-all;
    }
    &:hover {
        @apply text-white;
        & > * {
            @apply -translate-x-2
        }
    }
}

.profile_section .list-group .list-group-item a {
    color: #222831;
  }
  .layout_padding {
    padding: 90px 0;
  }
  .bg-primary-lightBlue {
    --tw-bg-opacity: 1;
    background-color: rgb(191 226 253 / var(--tw-bg-opacity));
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 0.8s ease forwards;
  }

